<header class="navbar">
    <div class="navbar__left">
        <img class="img-icon" src="livro-flor.png">
        <strong class="title"> Biblioteca do chiquinho</strong>
    </div>

    <div class="navbar__center">
        <input type="text"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearchChange($event)"
        placeholder="Buscar Livro..."
        > 
    </div>

    <div class="navbar__right">
        <a routerLink="/add-book" class="btn">Adicionar Livro</a>
        <a class="btn btn--outline">Login</a>
    </div>
</header>

<main class="container">
    <app-book-list></app-book-list>
</main>
