<header class="navbar">
    <div class="navbar__left">
        <img class="img-icon" src="livro-flor.png">
        <strong class="title"> Biblioteca do chiquinho</strong>
    </div>

    <div class="navbar__center">
        <input type="text"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearchChange($event)"
        placeholder="Buscar Livro..."
        > 
    </div>

    <div class="navbar__right">
        <a class="btn btn--outline">Login</a>
    </div>
</header>

<div class="form-wrapper">
    <mat-card>
        <mat-card-title>Cadastro de Livro</mat-card-title>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field appearence="fill" class="full-width">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" required/>
            </mat-form-field>
            <mat-form-field appearence="fill" class="full-width">
                <mat-label>Author</mat-label>
                <input matInput formControlName="author" required/>
            </mat-form-field>
            <mat-form-field appearence="fill" class="full-width">
                <mat-label>Year</mat-label>
                <input matInput type="number" formControlName="year"/>
            </mat-form-field>
            <div class="form-actions">
                <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
                <button mat-button type="button" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </mat-card>
</div>
