<div class="search-bar-div">
    <input class="search-bar" type="text"
    [(ngModel)]="searchQuery"
    (ngModelChange)="onSearchChange($event)"
    placeholder="Buscar Livro..."
    >
    @if(searchQuery){
        <div class="search-modal">
            Resultados para "{{searchQuery}}"
            <ul>
                @for (book of searchResults(); track book.id) {
                    <li>
                        <strong>{{book.title}}</strong> - {{book.author}} ({{book.year}})
                    </li>
                } @empty {
                    <li>Nenhum livro encontrado.</li>
                }
            </ul>
        </div>
    }
</div>
