<section>
    <h2>Cátalago de Livros</h2>
    <button class="add-button" (click)="changeVisibilityOfForm()">Adicionar Livro</button>

    <form *ngIf="isFormVisibile" action="add-book" >
        <label for="book-title">Título: </label>
        <input type="text" name="book-title" id="book-title">

        <label for="book-author">Autor: </label>
        <input type="text" name="book-author" id="book-author">

        <label for="book-year">Ano: </label>
        <input type="number" name="book-year" id="book-year">

        <button type="submit">Adicionar</button>
    </form>

    <ul>
        <li *ngFor="let book of books; trackBy: trackById">
            <app-book-card [book]="book"></app-book-card>
            <button class="remove-button"(click)="remove(book.id)">Excluir</button>
        </li>
    </ul>

    <p *ngIf="!books.length">
        Nenhum livro cadastrado.
    </p>

</section>
